/*
Colours:
  background: #08050f;
  header/footer : #060c28;
  pink : #ba1e68;
  purple:#7649fe;
  blue/purple: #5643fd;
  green: #5ebe75
  dark green: #2D733D
  Brown: #735632
  Dark brown: #BF8C4B
  off White : #fcfbfe;
*/

/*Global*/
@font-face {
    font-family: 'DotGothic16';
    src: url('fonts/DotGothic16/DotGothic16-Regular.eot');
    src: url('fonts/DotGothic16/DotGothic16-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DotGothic16/DotGothic16-Regular.woff2') format('woff2'),
        url('fonts/DotGothic16/DotGothic16-Regular.woff') format('woff'),
        url('fonts/DotGothic16/DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2 ,h3{
  font-family: 'DotGothic16';
  letter-spacing: 3px;
}

h1{font-size:35px;}
h2{font-size: 30px;}
h3{font-size:25px;}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  font-size:15px;
  background-color: #08050f;
  color: #fcfbfe;
}

#root{
  max-width:1920px;
  margin:auto!important;
  background-color: #060c28;
}



/*Header*/
header ,footer{
  max-width:1400px;
  margin:auto!important;
  padding: 2% 0%;
}

header{display:flex;}

footer{
      text-align: center;
}

footer .Top .Socials ul {
    list-style: none!important;
    display: inline;
    padding: 0px;
}

footer .Top .Socials ul li{
  display:inline;
  padding-right: 10px;
}

.Logo{
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Navs*/
.Nav{
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  z-index: 999;
}
.Nav .NavLink {
  padding: 10px 17px;
  background-color: #252528;
}

.Nav .NavLink:hover {
  background-color: #3e3e3e;
}

.Nav .NavLink.NavFirst{
  border-radius: 25px 0px 0px 25px;
}

.Nav .NavLink.NavLast {
  border-radius: 0px 25px 25px 0px;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav ul li{
  color:#fcfbfe;
  display: inline;
  padding: 0;
}

.Nav ul li a, .Socials ul li a{
  color:#fcfbfe;
  text-decoration: none;
}

/*Home*/
/*Section 1*/
.Banner{
  height: 600px;
  width: 100%;
  position: relative;
}

.stars-wrapper {
  min-width: 100%;
  min-height: 500px;
}

.star {
  z-index: 0;
  position: absolute;
  background-color: white;
  border-radius: 50px;
  animation: moveStars linear infinite;
}

.type-1 {
  width: 1px;
  height: 1px;
}

.type-2 {
  width: 2px;
  height: 2px;
}

.type-3 {
  width: 3px;
  height: 3px;
}

@keyframes moveStars {
  0% { transform: translateY(0); }
  50% { transform: translateY(-150px); }
  100% { transform: translateY(0); }
}


.introText {
    max-width: 455px;
    width: 80%;
    left: 15%;
    padding: 3%;
    position: absolute;
    top: 41%;
    transform: translate(0, -50%);
    background-color: #08050fa8;
    z-index: 1;
}

/*Section 2*/
.Definer {
    margin: auto;
    text-align: center;
    background-color: #08050fa8;
}

.Definer a{
  color :#fcfbfe;
  font-size:25px;
}

/*Section 3*/

.dashboard {
  display: flex;
  flex-direction: column;
}

svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1A2C34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: aqua;
  animation: progress-1 1s ease-out;
}
.meter-2 {
  stroke: lime;
  stroke-dasharray: 360;
  stroke-dashoffset: 200;
  animation: progress-2 .75s ease-out;
}
.meter-3 {
  stroke: magenta;
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  animation: progress-3 .5s ease-out;
}
.meter-4 {
  stroke-dasharray: 360;
  stroke-dashoffset: 120;
  stroke: aqua;
  animation: progress-1 1s ease-out;
}
.meter-5 {
  stroke: lime;
  stroke-dasharray: 360;
  stroke-dashoffset: 200;
  animation: progress-2 .75s ease-out;
}
.meter-6 {
  stroke: magenta;
  stroke-dasharray: 360;
  stroke-dashoffset: 180;
  animation: progress-3 .5s ease-out;
}

.meter-7 {
  stroke-dasharray: 360;
  stroke-dashoffset: 300;
  stroke: aqua;
  animation: progress-1 1s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 100;
    }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 250;
  }
}

.lang {
    display: inline-block;
}

.lang p {
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
}
.Secondsection{
    width: 1400px;
    padding: 2%;
    display: flex;
    margin: auto;
}

.Data {
  display: inline-block;
  width: 45%;
  padding: 3%;

}
.Text{
      display: inline-block;
      width: 46%;
      padding: 3%;
      float: left;
}
/*Section 3*/
section.thirdSection {
    width: 1400px;
    margin: auto;
    padding: 5% 0%;
}

.thirdSection h2{
  text-align:center!important;
}

.Projects .project {
    width: 48%;
    margin-right: 1%;
    display: inline-block;
}

.project div {
    width: 90%;
    margin: auto;
}

.project img {
    width: 100%;
    object-fit: cover;
}

/*Section 4*/
.cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}

.tag-cloud {
  background-color: #fcfbfe;
  padding: 2%;
  max-width: 1400px;
  text-align: center;
  border-radius:40px 40px 0px 0px;
}


.tag-cloud  div {
    display: inline-block;
    line-height: 1.2em;
    vertical-align: middle;
    margin: 0 0.2em;
    transition: color .12s ease;
    cursor: pointer;
    user-select: none;
}
.tag-cloud  div:hover{
    color: #ba1e68 !important;
}


/*about*/
.InteralPage{
  margin: auto;
}
section.smBanner {
    height: 150px;
    background-color: black;
    margin-bottom: 4%;
}

section.aboutUs {
    width: 100%;
    max-width: 1400px;
    margin:auto;
    display: flex;
}
section.aboutUs .Text{
  padding-top: 0px;
}
