/*Global*/
body{
  background-color: #5ebe75;
}

#root{
  max-width:1920px;
  margin:auto!important;
  background-color: aliceblue;
}

/*Header*/
header{
  max-width:1400px;
  margin:auto!important;
  padding: 2% 0% 3%;
  display: block;
}

.Logo{
  width: 20%;
  display: inline-block;
  float: left;
}

/*Navs*/
.Nav{
  width: 77%;
  display: inline-block;
  float: left;

}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav ul li{
  display: inline;
  padding: 0px 15px;
}
